body {
  text-align: center;
  background: #00ECB9;
  font-family: sans-serif;
  font-weight: 100;
}

#wrapper {
  display:inline-block;
  margin: auto;
  overflow:hidden;
}

.divh1 {
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding-bottom: 30px;
}

#h1content {
  display:inline-block;
  margin:auto;
}

.h1worldcup {
  color: #396;
  font-weight: 100;
  font-size:40px;
  margin: 40px 0px 20px;
}

/* .countdowndiv {
  overflow:hidden;
  display:inline-block;
  margin:auto;
} */

.center__div {
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#clockdiv {
  font-family: sans-serif;
  color: #fff;
  display: inline-block;
  font-weight: 100;
  text-align: center;
  font-size: 30px;
}

#clockdiv > div {
  padding: 10px;
  border-radius: 3px;
  background: #00BF96;
  display: inline-block;
}

#clockdiv div > span {
  padding: 15px;
  border-radius: 3px;
  background: #00816A;
  display: inline-block;
}

.smalltext {
  padding-top: 5px;
  font-size: 16px;
}

.hover__div:hover {
  font-size: 33px;
  font-weight: bold;
  transition: all .1s ease;
}

.hover__div:hover .smalltext {
  font-weight: bold;
  /* text-transform: uppercase; */
}

/* .time {
  padding: 15px;
  margin: 0 auto;
} */

.footer {
  font-family: sans-serif;
  color: #000;
  font-size: 14px;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #00816A;
  text-align: center;
}

.fa-code {
  color: black;
  text-decoration: none;
}

.fa-code:hover {
  color: #00ECB9;
  font-size: 20px;
  transition: all .1s ease;
}

.button {
  background-color: #00BF96;
  border: none;
  border-radius: 3px;
  color: #FFFFFF;
  padding: 14px 14px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  transition: all 0.5s;
  margin: 5px;
  font-size: 14px;
  cursor: pointer;
  vertical-align:middle;
}

button:hover, button:active {
  /*box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);*/
  background-color: #00ECB9;
  border-radius: 3px;
}

.button span {
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.button span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -18px;
  transition: 0.5s;
}

.button:hover span {
  padding-right: 18px;
}

.button:hover span:after {
  opacity: 1;
  right: 0;
}

@media screen and (max-width: 480px) {
  #wrapper {
    display: block;
    width: 100%;
    margin: 0 auto;
    white-space: normal;
  }
  .countdowndiv {
    display: block;
    width: 100%;
    margin: 20px auto;
    white-space: normal;
  }
  .time {
    display: block;
    margin: 10px;
    /* white-space: normal; */
  }
}

/* #ballContainer {
  position: fixed;
  bottom: 40px;
  width: 100%;
}

.soccer {
  background: url(http://upload.wikimedia.org/wikipedia/en/e/ec/Soccer_ball.svg);
  background-size: 100px 100px;
  height: 100px;
  width: 100px;
  position: relative;
  -webkit-animation:roll 4.5s infinite;
  -moz-animation:roll 4.5s infinite;
  animation:roll 4.5s infinite;
}

@-moz-keyframes roll {  
  0% {left:0px; -webkit-transform: rotate(-360deg);}
  50% {left:1000px; -webkit-transform: rotate(360deg);}
  100% {left:0px; -webkit-transform: rotate(-360deg);}
}
@-webkit-keyframes roll { 
  0% {left:0px; -webkit-transform: rotate(-360deg);}
  50% {left:1000px; -webkit-transform: rotate(360deg);}
  100% {left:0px; -webkit-transform: rotate(-360deg);}
}

@keyframes roll { 
  0% {left:0px; -webkit-transform: rotate(-360deg);}
  50% {left:1000px; -webkit-transform: rotate(360deg);}
  100% {left:0px; -webkit-transform: rotate(-360deg);}
} */